.content{
  position: relative;
  background-color: #f6f6f4;
}

.header{
    display: flex;
    justify-content:center;
    background-color: #e2e9e7;
    height: 120px;
}

.item{
    display: flex;
    color: grey;
    width: 200px;
    height: 100%;
    justify-content:center;
    align-items: center;
    /* background: linear-gradient(#e66465, #9198e5); */
}

.header-left{
    display: flex;
    justify-content:flex-start;
    width: 400px;
}
.header-right{
    display: flex;
    justify-content:flex-end;
    width: 600px;
}

.item-size-top{
    height: 400px;
    width: 500px;
}
.item-size-mid{
    height: 400px;
    width: 500px;
}
.item-size-bot{
    height: 400px;
    width: 500px;
}
.marin-bottom{
    margin-bottom: 20px;
}
.marin-bottom-text{
    margin-bottom: 2px;
}

.body{
    display: flex;
    flex-flow:column ;
    align-items:center;
}
.body-top{
    display: flex;
    height: 400px;
}
.body-top-right{
    text-align: right;
}
.body-mid{
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
}

.body-bot{
    display: flex;
    justify-content:space-between;
}
.body-bot-left{
}

/* .body-bot-right{
    display: flex;
    justify-content:flex-end;
} */

.footer{
    display: flex;
    justify-content:center;
    background-color: #219daa;
    height: 120px;
}
.footer-left{
    display: flex;
    justify-content:flex-start;
    width: 800px;
}
.footer-right{
    display: flex;
    justify-content:space-evenly;
    width: 250px;
}

.green-font{
    font-size: 60px;
    letter-spacing:20px;
    background: -webkit-linear-gradient(white,#82AF16, #52700C,black);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.orange-font{
    color: orange;
    font-size: 36px;
}

.grey-font{
    color: grey;
    font-size: 12px;
    line-height: 20px;
}

.float-left{
    display: flex;
    justify-content:flex-start;
}
.float-right{
    display: flex;
    justify-content:flex-end;
}
.awsome-font{
    letter-spacing:12px;
}

.text-align{
    text-align: right; 
}

.border{
    border-width: 4px;
    border-style: solid;
    padding: 20px;
}

.il{
    display: inline;
}

.b{
    display:block;
}

.ilb{
    display:inline-block;
}

.cyan{
    color:DeepSkyBlue;
}

.backcolor-gainsboro{
    background-color: Gainsboro;
}
.marin-set{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.marin-left-10p{
    margin-left: 10px;
}
.marin-left-20p{
    margin-left: 20px;
}
.marin-left-30p{
    margin-left: 30px;
}
.marin-top-20p{
    margin-top: 20px;
}
.marin-bottom-30p{
    margin-bottom: 30px;
}
.marin-bottom-20p{
    margin-bottom: 20px;
}
.marin-bottom-10p{
    margin-bottom: 10px;
}
.div-float-left{
    height: 100px;
}

.fl-left{
    float: left;
}

.sp-a{
    display: flex;
    justify-content: space-around;
}

.width-180p{
    width: 210px;
    height: 28px;
}
.height-28p{
    height: 28px;
}
.width-188p{
    width: 218px;
    height: 34px;
    line-height: 2em;
}
.text-alig-center{
    text-align: center;
}
.width-140p{
    width: 140px;
}
.vertical-align-top{
    vertical-align: top; 
}

.height-100p{
    height: 180px;
}

.width-130p{
    width: 130px;
}
.width-150p{
    width: 150px;
}
.width-1150p{
    width: 1150p;
}

.width-1300p{
    width: 1300px;
}


.height-100p{
    height: 100px;
}

.height-200p{
    height: 200p;
}


