
.content{
  position: relative;
  background-color: #f6f6f4;
}

/* .vertical-align{
    vertical-align: middle;
} */
.header{
    display: flex;
    justify-content:center;
    background-color: #e2e9e7;
    height: 120px;
}

.item{
    display: flex;
    color: grey;
    width: 200px;
    height: 100%;
    justify-content:center;
    align-items: center;
    /* background: linear-gradient(#e66465, #9198e5); */
}

.header-left{
    display: flex;
    justify-content:flex-start;
    width: 400px;
}
.header-right{
    display: flex;
    justify-content:flex-end;
    width: 600px;
}

.item-size-top{
    height: 400px;
    width: 500px;
}
.item-size-mid{
    height: 400px;
    width: 500px;
}
.item-size-bot{
    height: 400px;
    width: 500px;
}
.marin-bottom{
    margin-bottom: 20px;
}
.marin-bottom-text{
    margin-bottom: 2px;
}
.marin-bottom-text-15p{
    margin-bottom: 15px;
}
.marin-right{
    margin-right: 25px;
}
.marin-left{
    margin-left: 25px;
}
.marin-left-15p{
    margin-left: 15px;
}
.marin-right-asfont{
    margin-right: 15px;
}
.marin-left-asfont{
    margin-left: 15px;
}

.body{
    display: flex;
    flex-flow:column ;
    align-items:center;
}
.body-top{
    display: flex;
    height: 400px;
}
.body-top-right{
    text-align: right;
}
.body-mid{
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
}

.body-bot{
    display: flex;
    justify-content:space-between;
}


/* .body-bot-right{
    display: flex;
    justify-content:flex-end;
} */

.footer{
    display: flex;
    justify-content:center;
    background-color: #219daa;
    height: 120px;
}
.footer-left{
    display: flex;
    justify-content:flex-start;
    width: 800px;
}
.footer-right{
    display: flex;
    justify-content:space-evenly;
    width: 250px;
}

.green-font{
    font-size: 60px;
    letter-spacing:20px;
    background: -webkit-linear-gradient(white,#82AF16, #52700C,black);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.orange-font{
    color: orange;
    font-size: 36px;
}

.grey-font{
    color: grey;
    font-size: 12px;
    line-height: 20px;
}

.float-left{
    display: flex;
    justify-content:flex-start;
}
.float-right{
    display: flex;
    justify-content:flex-end;
}
.awsome-font{
    letter-spacing:12px;
}

.text-align{
    text-align: right; 
}

.border{
    border-width: 4px;
    border-style: solid;
    padding: 20px;
}

.il{
    display: inline;
}

.b{
    display:block;
}

.ilb{
    display:inline-block;
}

.cyan{
    color:DeepSkyBlue;
}

.backcolor-gainsboro{
    background-color: Gainsboro;
}
.marin-set{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.marin-left-10p{
    margin-left: 10px;
}
.marin-left-13p{
    margin-left: 13px;
}

.marin-left-20p{
    margin-left: 20px;
}
.marin-left-30p{
    margin-left: 30px;
}
.padding-top-30p{
    padding-top: 30px;
}
.marin-top-20p{
    margin-top: 20px;
}
.marin-bottom-40p{
    margin-bottom: 40px;
}
.marin-bottom-35p{
    margin-bottom: 34px;
}
.marin-bottom-30p{
    margin-bottom: 30px;
}
.marin-bottom-20p{
    margin-bottom: 20px;
}
.marin-bottom-10p{
    margin-bottom: 10px;
}
.div-float-left{
    height: 100px;
}

.fl-left{
    float: left;
}

.sp-a{
    display: flex;
    justify-content: space-around;
}

.width-180p{
    width: 210px;
    height: 28px;
}
.height-28p{
    height: 28px;
}
.width-188p{
    width: 218px;
    height: 34px;
    line-height: 2em;
}
.text-alig-center{
    text-align: center;
}
.width-140p{
    width: 140px;
}
.vertical-align-top{
    vertical-align: top; 
}

.height-100p{
    height: 180px;
}

.width-130p{
    width: 130px;
}
.width-150p{
    width: 150px;
}
.width-1150p{
    width: 1150p;
}

.width-1300p{
    width: 1300px;
}


.height-100p{
    height: 100px;
}

.height-200p{
    height: 200p;
}

/*index2*/

.fl-start{
    display: flex;
    justify-content: start;
}

.fl-end{
    display: flex;
    justify-content:flex-end;
}
.fl-center{
    display: flex;
    justify-content:center;
}

.fl-space{
    display: flex;
    justify-content: space-around;
}

.fl-space-evenly{
    display: flex;
    justify-content: space-evenly;
}


.al-items-center{
    align-items: center;
}

.fl-di-row{
    display: flex;
    flex-direction: row;
}
.fl-di-column{
    display: flex;
    flex-direction: column;
}
.padding-3p{
    padding-left:3px;
}
.padding-15p{
    padding-left:15px;
}

.main-margin-left{
    margin-left: 20%;
}

.main-margin-auto{
    margin: 0 auto;
} 

.vertical-align-middle{
    vertical-align:middle;
}

.main-width{
    width: 900px;
}

.margin-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.item1-top{
    height: 120px;

}
.item1-bot{
    height: 40px;
}

.item2-left{
    width: 250px;
    height: 420px;
}


.item2-right{
    width: 647px;
    height: 420px;
}
.main-item3-subitem{
    width: 250px;
    height: 350px;
}

.main-item3-subitem-title{
    height: 25px;
}

.main-item3-subitem-content{
    width: 200px;
    height: 120px;
}

.backcolor-grey{
    background-color:grey;
}
.backcolor-brown{
    background-color: brown;
}

.text-size{
    color: white;
    font-size: 15px;
}
.text-color-brown{
    color: #9b7f1a;
}

.title-size{
    color: white;
    font-size: 20px;
}

.button-size{
    width: 160px;
    height: 35px;
}
.border-solid-1p{
    border: 1px solid white;
}
.button-style{
    color: white;
    background-color: #d3a21b;
    border: none;
}
.selectoption-style{
    color: white;
    background-color: black;
}
.itempic{
    width: 215px;
    height: 150px;
}


.item4-left{
    width: 680px;
}

.item4-right{
    width: 900px;
    height: 170px;
}

.item4-left-top{
    height: 150px;
}

.item4-left-bot{
    height: 50px;
}

.main-item5-item1{
    width: 225px;
    height: 200px;
}
.main-item5-item2{
    width: 220px;
    height: 200px;
}
.main-item5-item3{
    height: 50px;
}
.main-item5-item4{
    width: 220px;
    height: 100px;
}
.main-item5-left-top{
    width: 450px;
    height: 300px;
}
.main-item5-left-bot{
    width: 450px;
    height: 100px;
}
.pic-size-fix{
    width: 450px;
    height: 200px;
}

.main-item5-left{
    width: 450px;
    height: 250px;
}

.main-item5-right{
    width: 450px;
    height: 250px;
}

.border-botandtop{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.backcolor-black{
    background-color: black;
}
.line-height-155p{
  line-height: 155px;
  font-size: 30px;
  text-align:center;
}

.line-height-70p{
    line-height: 70px;
}

.line-height-40p{
    line-height: 40px;
}


