.content{
  position: relative;
  background-color: #f6f6f4;
}

.header{
    display: flex;
    justify-content:center;
    background-color: #e2e9e7;
    height: 120px;
}

.item{
    display: flex;
    width: 30px;
}

.header-left{
    display: flex;
    width: 400px;
}
.header-right{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 600px;
}

.body{
    display: flex;
    flex-flow:column ;
    align-items:center;
    height: 1300px;
}
.body-top{
    display: flex;
    height: 400px;
}
.body-top-right{
    width: 400px;
    height: 400px;
}
.body-mid{
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
    height: 400px;
}
.body-mid-right{
    width: 500px;
    height: 400px;
}
.body-bot{
    display: flex;
    justify-content:space-between;
    height: 400px;
}
.body-bot-right{
    width: 400px;
    height: 400px;
}

.footer{
    display: flex;
    justify-content:center;
    background-color: #219daa;
    height: 120px;
}
.footer-left{
    display: flex;
    justify-content:flex-start;
    width: 650px;
}
.footer-right{
    display: flex;
    justify-content:space-around;
    width: 200px;
}

