body{
    background: #f2f3ee;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    background:#e2e9e7;
}

.body-layout{
    width: 50%;
}

.nav-title{
    background: #e2e3e6;
    border-bottom: #8f8f8f dotted 2px;
}

.nav-title-style{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.nav-title-text{
    margin-left:auto;
}

.nav-title-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
}

.nav-title-link a{
    font-size: 3px;
    color: #8f8f8f;
    text-decoration: none;
}

.nav-title-link img{
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.nav-title-style p{
    font-size: 10px;
    font-weight: bold;
    color: #455c6e;
}

.nav-style{
    display: flex;
    justify-content: space-between;  
    background: #e2e9e7;
}

.banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.banner li{
    list-style-type: none;
    height: 100%;
}

.banner li a{
    display:flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 10px; 
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

.banner li a:hover{
    background:linear-gradient(to bottom, #2cb19f,  #e2e9e7);
    color: #447a7a;
    font-weight: bolder;
}
.logo img{
    border: none;
    height: 100%;
}

/* 內文 */
.main{
    display: flex;
    justify-content: center;
}

.container{
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    background: #f2f3ee;
}

.row:nth-child(2){
    flex-direction: row-reverse;
}

.box{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 50%;
}

.margin-left{
    margin-left:20px;
}

.margin-right{
    margin-right:20px;
}

.block-title{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.text-title {
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align:right;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align:left;
}

.text-content {
    font-size: 6px;
    color: gray;
    line-height: 20px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.text-content a{
    color: gray;
}


h1{
    background: linear-gradient(to bottom, #98b819, #647e12);
    background: -webkit-linear-gradient(to top, #98b819, #647e12);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}

h2{
    color: black;
    font-size: 10px;
    letter-spacing: 5px;
}

h3{
    color:#e0930b;
    font-size: 16px;
    letter-spacing: 2px;
}

.subdivisions {
    margin-right: 20px;
}

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    background:  linear-gradient(to bottom, #24b6b8, #1b7692);
    color: rgb(38, 169, 176); 
    height:60px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height:40px;
} 

.copyright{
    font-size: 12px;
    color: rgb(54, 190, 186);
    margin-top:10px;
}

.social-area{
    margin-top:10px;
}

.social-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-icon a img{
    width: 20px;
    margin: 0px 10px;
}


.textbox{
    display: flex;
    justify-content: center;
    align-items: center;
}


