body{
    background: #f2f3ee;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    background:#e2e9e7;
}

.nav-title{
    background: #e2e3e6;
    border-bottom: #8f8f8f dotted 2px;
}

.nav-title-style{
    width: 50%;
    display: flex;
    justify-content: space-around;  
    
}

.nav-title-style li{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-title-style li p{
    font-size: 10px;
    font-weight: bold;
    color: #455c6e;
}

.nav-style{
    width: 50%;
    display: flex;
    justify-content: space-around;  
    background: #e2e9e7;
}

.nav-style li{
    display: flex;
    align-items: center;
    list-style-type: none;
    border: #024747;
    
}

.nav-style li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 10px;
    width:80px;
    height:120px;   
}

.nav-style li a:hover{
    background:linear-gradient(to bottom, #2cb19f, #cde2c0);
    color: #447a7a;
    font-weight: bolder;
}

.download .discuss{
    align-items: center;
}

.download a{
    position: relative;
    left: 120px;
    font-size: 1px;
    color: #8f8f8f;
    text-decoration: none;
}

.download img{
    position: relative;
    left: 120px;
    width: 30%;
    height: 50%;
    margin-left: 5px;
}

.discuss a{
    position: relative;
    left: 40px;
    font-size: 1px;
    color: #8f8f8f;
    text-decoration: none;
}

.discuss img{
    position: relative;
    left: 40px;
    width: 30%;
    height: 50%;
    margin-left: 5px;
}

.logo img{
    display: flex;
    flex-grow:3;
    border: none;
}

/* 內文 */
 
.main{
    display: flex;
    justify-content: center;
}

.container{
    flex-direction: column;
    width: 50%;
}

.row{
    display: flex;
    justify-content: space-around;
    background: #f2f3ee;
    flex-grow: 1; 
}

.box{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 50%;
}

.block1{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right:20px;
}

.block-text-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.block-text-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:20px;
}

.text-content-right{
    font-size: 6px;
    text-align:right;
    color: gray;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.text-content-left{
    font-size: 6px;
    color: gray;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    background: linear-gradient(to bottom, #98b819, #647e12);
    background: -webkit-linear-gradient(to top, #98b819, #647e12);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: bold;
}

h2{
    color: black;
    font-size: 10px;
}

h3{
    color:#e0930b;
    font-size: 16px;
}

.underline{
    text-decoration: underline;
}

/* footer */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background:  linear-gradient(to bottom, #24b6b8, #1b7692);
    color: rgb(38, 169, 176); 
    height:60px;
}

.footer-container{
    width: 50%;
    padding-top: 20px;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 1;
    font-size: 15px;
    margin-bottom: 20px;
}

.copyright{
    /* padding-top: 5px; */
    font-size: 12px;
    color: rgb(54, 190, 186);
}

.social-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-icon div i{
    width: 150%;
    height: 150%;
    object-fit: contain;
}

/* .icons {
    width: 150%;
    height: 150%;
    object-fit: contain;
} */

.textbox{
    display: flex;
    justify-content: center;
    align-items: center;
}


