body {
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebecee;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    color: #c1c1c1;
}

header li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

header a {
    text-decoration: none;
}

.title {
    display: flex;
    justify-content: center;
}

.title h5 {
    color: white;
}

title div {
    width: 100%;
    height: 100px;
}

.title_div {
    width: 50%;
    height: 100%;
}

.title_div img {
    width: 100%;
    height: 100%;
}

.title_div h2 {
    display: flex;
    flex-direction: column;
}

.title_div>div {
    padding-left: 20px;
}

.title_txt {
    background-color: #759ba4;
}

.section_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #759ba4;
    width: 100%;
    height: 30%;
}

.section_txt>h2 {
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    margin-top: 5px;
}

.up_footer {
    height: 80%;
    width: 100%;
    background-color: #759ba4;
}

.down_footer {
    height: 20%;
    width: 100%;
    background-color: #535353;
}

.section {
    width: 400px;
    height: 200px;
}

.section_title_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.section_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.section_div_margin {
    margin: 4px;
}

.section_div>div {
    height: 100%;
}

.left_div {
    margin-right: 4px;
}

.right_div {
    margin-left: 4px;
}

.reverse_left_div {
    margin-right: 4px;
}

.reverse_right_div {
    margin-left: 4px;
}

.left_div img {
    width: 100%;
    height: 100%;
}

.mid_div {
    display: flex;
    flex-direction: column;
}

.mid_div div {
    width: 100%;
    height: calc(50% - 2px);
}

.mid_div_margin {
    margin-bottom: 4px;
}

.mid_div img {
    width: 100%;
    height: 100%;
}

.right_up_div {
    width: 100%;
    height: 30%;
    margin-bottom: 4px;
}

.right_down_div {
    width: 100%;
    height: 70%;
}

.right_div img {
    width: 100%;
    height: 100%;
}

.right_div {
    display: flex;
    flex-direction: column;
}

.reverse_mid_div img {
    width: 100%;
    height: 100%;
}

.reverse_right_div {
    display: flex;
    flex-direction: column;
}

.reverse_right_div>div {
    width: 100%;
    height: calc(50% - 2px);
}

.reverse_right_div img {
    width: 100%;
    height: 100%;
}

.left_up_div {
    width: 100%;
    height: 30%;
    margin-bottom: 4px;
}

.left_down_div {
    width: 100%;
    height: 70%;
}

.reverse_left_div img {
    width: 100%;
    height: 100%;
}

.reverse_left_div {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}