body{
    background: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.box-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-top{
    margin-bottom: 40px;
}

.top-box{
    width: 70%;
    margin-bottom: 40px;
}

.logo{
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    width: 25%;
    padding-top: 5px;
    margin-bottom: 5px;
}

.logo_icon{
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    width: 90%;
    margin-bottom: 5px;
}

.logo_icon a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 32px;
    color: white;
}

.logo-box{
    margin-bottom: 40px;
    width: 100%;
}

nav{
    width: 70%;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav ul li a:hover{
    color: darkgoldenrod;
    font-size: 1.2em;
}

.active{
    color: darkgoldenrod;
}

.container{
    width: 70%;
}

.banner{
    display: flex;
    flex: 1 1;
    margin-bottom: 30px;
    align-items: stretch;
}

.box-left{
    margin-right: 0.3em;
    flex-grow: 1 1;
    width: 30%;
}

.box-right{
    flex-grow: 1 1;
    width: 70%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 40PX;
}

.column-box{
    display: flex;
    flex-direction: column;
}

.border-line{
    border-bottom: 2px white solid;
    width: 100%;
    margin-bottom: 40px;
}

.column-box:not(:last-child){
    margin-right: 10px;
}

.title{
    font-size: 1.5em;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.pic{
    height: 50%;
    margin-bottom: 20px;
    background:  #B78A15;
}

.content-text{
    margin-bottom: 20px;
}

.title1{
    margin-bottom: 40px;
}

.title1 p{
    font-size: 1.5em;
    text-transform: capitalize;
}

.more a{
    text-decoration: none;
    text-transform: capitalize;
    color:  #B78A15;
}

.more a:hover{
    text-decoration: underline;
}

.pic-box{
    font-size: 2em;
    text-transform: capitalize;
}

.reservation{
    width: 70%;
    margin-bottom: 60px;
}

.select-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

select{ 
    color: white;
    text-transform: capitalize;
    background: black;
    border: white 2px solid;
    margin-right: 30px;
    width: 30%;
    height: 2.5em;
}

.selector input{
    color: white;
    background: black;
    text-transform: capitalize;
    width: 30%;
}

.selector input[type="button"]{
    background: #B78A15;
    border: none;
}

footer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.box1{
    display: flex;

}

.contact-title{
    font-size: 1.2em;
    color: #B78A15;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contact-text{

    text-transform: capitalize;
}

.text-top{
    margin-bottom: 40px;
}

.contact-text p:not(:last-child){
    margin-bottom: 5px;
}

.social-icon{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 10px;
}

.social-icon div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box-left1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

