.advertise-row_2{
  display: flex;
  flex-direction: column;
}
.advertise-row_2 img{
  padding-bottom: 3px;
}
.advertise{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.advertise-row, .advertise-row_2{
  overflow: hidden;
  width: 33%;
  height: 670px;
  box-sizing: border-box;
}

