.container{
  position: relative;
}
.container-img{
  width: 100%;
  object-fit: contain;
}
.mark-label{
  height: 50px;
  width: 100px;
  background: #80a6ad;
  position: absolute;
  top: 0;
  text-align: center;
  color: #ffffff
}