body{
    background: #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    background:white;
    padding-top: 10px;
}

.nav-style{
    width: 50%;
    display: flex;
    justify-content: space-around;  
    margin-bottom: 10px; 
}

.nav-style li{
    display: flex;
    align-items: center;
    list-style-type: none;
    border: #024747;
}

li a{
    text-decoration: none;
    color: gray;
    font-size: 14px;   
}

li a:hover{
    color: #447a7a;
    font-weight: bolder;
    border-bottom: #024747 dotted 2px;
}

.logo a{
    font-weight: bolder;
    color: black;
    border-bottom: black 3px solid;
    font-size: 20px;
}

.logo a:hover{
    color: #447a7a;
    border: none;
}

.shop{
    position: relative;
}

.shop img{
    width: 50%;
}

.shop_num{
    position: absolute;
    left: 8px;
    top: 13px;
    color: white;
    font-size: 8px;;
}

.main{
    display: flex;
    justify-content: center;
}

.container{
    flex-direction: column;
    width: 50%;
}

.banner{
    display: flex;
    justify-content: space-around;
    background: #759BA4;
    flex-grow: 1; 
    margin-bottom: 20px;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;  
    font-size: 40px;
    color:  #024747	;
    font-weight:bold;
    box-sizing: border-box;
}

.box-content{
    display: flex;
    flex-direction: column;
}

p{ 
    padding-bottom: 8px;
}

.box-text{
    color: white;
    border-bottom: 3px	#447a7a solid;
    font-size: 22px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.column1{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.block1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.block1  div{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.block1-text{
    background:  #759BA4;
    color: white;
    height: 30%;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.tag-box{
    position: relative;
}

.tag{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 20%;
    background: #447a7a;
    color: white;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background:  #759BA4;
    color: rgb(221, 215, 215);
    
}

.footer-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.contact{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 15px;
    margin-bottom: 20px;
}

.email{
    width: 50%;
}

.textbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    height: 30%;
    border: none;
    box-sizing: border-box;
}

.email input[type=email]{
    opacity: 0.6;
}

.email input[type=button]{
    background: #024747;
    color: white;
}

.copyright{
    background: gray;
    padding-top: 5px;
}

.copyright p{
    font-size: 10px;
}

.social-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icon div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


